# Netlify/Gatsby Function credentials (configure in Netlify environment variables)
GATSBY_SITE_URL=https://sacramento.yellowstonerenovation.com
GDRIVE_CLIENT_EMAIL=
GDRIVE_PRIVATE_KEY=
GDRIVE_FOLDER_ID=
